{#- Struct/value template for Swift -#}
{%- macro swift_type(type_info) -%}
{%- if not type_info -%}
Any
{%- else -%}
{%- set mapped = type_info.mapped -%}
{%- if '&' in mapped or '::' in mapped or mapped == 'dynamic' -%}
Any
{%- elif 'Pointer<CChar>' in mapped -%}
String
{%- else -%}
{{ mapped }}
{%- endif -%}
{%- endif -%}
{%- endmacro -%}

{%- macro render_type(item, namer, mapping) -%}
{%- if item and item.name -%}
public struct {{ item.name }} {
{%- for field in item.fields %}
    public var {{ field.name }}: {{ swift_type(field.type) }}
{%- endfor %}

    public init(
{%- for field in item.fields %}
        {{ field.name }}: {{ swift_type(field.type) }}{% if not loop.last %},{% endif %}
{%- endfor %}
    ) {
{%- for field in item.fields %}
        self.{{ field.name }} = {{ field.name }}
{%- endfor %}
    }
}
{%- endif -%}
{%- endmacro -%}

{%- if item is defined -%}
{{ render_type(item, namer, mapping) }}
{%- endif -%}
